body {
/*    font-size: 18px;*/
}
.main-form {
    margin: 50px 0 50px;
}
.document {
    margin-bottom: 50px;
    display: none;
}


@media print {
    .main-form {
        display: none;
    }
    .document {
        display: initial;
    }
}
